$color-white-light:#Ececf3;
$color-white:#fff;
$color-light-gray:#f3f3f3;
$color-scss-white:#f7f7f7;
$color-gray-primary:#555555;
$color-black-grey:#777777;
$color-black-light:#999;
$color-scss-main:rgba(40, 180, 133, 0.8);
$color-black:black;
$color-blue-light:#3758FF;

$color-priamry-red:red;


$color-scss-black:#333;